<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Motos - SysTrack</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/motos.css}">
</head>
<body>

<!-- Incluir Header -->
<div th:replace="fragments/header :: header"></div>

<div class="page-content">
    <h1>Motos</h1>
    <a class="btn btn-create" th:href="@{/motos/criar}">Cadastrar Nova Moto</a>
    <table class="table-motos">
        <tr>
            <th>ID</th>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Patio</th>
            <th>Usuário</th>
            <th>Ações</th>
        </tr>
        <tr th:each="moto : ${motos}">
            <td th:text="${moto.id}"></td>
            <td th:text="${moto.placa}"></td>
            <td th:text="${moto.modelo}"></td>
            <td th:text="${moto.nomePatio}"></td>
            <td th:text="${moto.nomeUsuario}"></td>
            <td>
                <a th:href="@{|/motos/editar/${moto.id}|}" class="btn btn-primary">Editar</a>
                <a th:href="@{|/motos/excluir/${moto.id}|}" class="btn btn-danger"
                   onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
            </td>
        </tr>
    </table>
</div>
<!-- Incluir Header -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
