/* ================= FOOTER ================= */
footer {
    background: #004080;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.15);
    width: 100%; /* ocupa toda a largura */
}
