<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login - SysTrack</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body class="login-page">
    <form th:action="@{/login}" method="post" class="login-container">
        <h2>Login</h2>
        <div>
            <label for="username">Email:</label>
            <input type="text" name="username" id="username" required/>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" required/>
        </div>
        <div>
            <button type="submit">Entrar</button>
        </div>
        <div th:if="${param.error}" class="error-message">
            Usuário ou senha inválidos.
        </div>
        <div th:if="${param.logout}" class="logout-message">
            Logout realizado com sucesso.
        </div>
        <div class="register-link">
            <p>Não tem conta? <a th:href="@{/usuarios/cadastrar-se}">Cadastre-se</a></p>
        </div>
    </form>
<!-- Incluir Header -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
